<p style="color: green"><%= notice %></p>

<%= render @user_tweet %>

<div>
  <%= link_to "Edit this user tweet", edit_user_tweet_path(@user_tweet) %> |
  <%= link_to "Back to user tweets", user_tweets_path %>

  <%= button_to "Destroy this user tweet", @user_tweet, method: :delete %>
</div>
