
<%= vite_typescript_tag 'development' %>

<div id="react-root" data-all="<%= {
  name: @name
}.to_json %>">
  <%= render 'shared/message/loading' %>
</div>

<div id="vue-root" data-all="<%= {
  name: @name
}.to_json %>">
  <%= render 'shared/message/loading' %>
</div>

<div class="my-6 text-lg">読み込み中表示の動作確認</div>
<div class="mt-5 border-gray-500 border-2 p-0">
  <%= render 'shared/message/loading' %>
</div>
