
<%= vite_typescript_tag 'development' %>

<div id="react-root" data-all="<%= {
  name: @name
}.to_json %>">
  <%= render 'shared/message/loading' %>
</div>

<div id="vue-root" data-all="<%= {
  name: @name
}.to_json %>">
  <%= render 'shared/message/loading' %>
</div>
