<%= render "admin/shared/common" %>

<%= vite_typescript_tag 'development-admin' %>

<div style="display: flex; flex-direction: column; gap: 1rem;">
  <div id="react-root" data-all="<%= {
    name: name,
    apiUrl: admin_api_development_api_test_path,
  }.to_json %>">
    <%= render 'admin/shared/message/loading' %>
  </div>

  <div id="vue-root" data-all="<%= {
    name: name,
  }.to_json %>">
    <%= render 'admin/shared/message/loading' %>
  </div>
</div>

